Source: openredalert
Section: user/games
Priority: optional
Maintainer: Tomasz Sterna <tomek@xiaoka.com>
Build-Depends: debhelper (>= 5), libsdl1.2-dev, libsdl-mixer1.2-dev
Standards-Version: 3.7.2
Vcs-Git: git://github.com/smokku/ora.git
Vcs-Browser: http://github.com/smokku/ora
Homepage: http://code.google.com/p/openredalert/

Package: openredalert
Architecture: any
Depends: ${shlibs:Depends}
Description: Real Time Strategy game.
 This is a rebuild of the (Westwood) Red Alert game engine (based on FreeCNC
 and FreeRA). It is a real time strategy game. To play the game with this
 engine you need the original game (mix files).
XSBC-Bugtracker: http://github.com/smokku/ora/issues
XB-Maemo-Display-Name: Open Red Alert
XB-Maemo-Upgrade-Description: Data installation instructions:
 Download RedAlert1_SovietDisc.rar and RedAlert1_AlliedDisc.rar
 from http://www.commandandconquer.com/classic
 .
 Put the following files in /home/user/MyDocs/Games/RedAlert directory:
 .
 From RedAlert1_AlliedDisc/RedAlert1_AlliedDisc/CD1_ALLIED_DISC.ISO:
 INSTALL/REDALERT.MIX as REDALERT.MIX
 MAIN.MIX as MAIN.MIX
 .
 From RedAlert1_SovietDisc/RedAlert1_SovietDisc/CD2_SOVIET_DISC.ISO:
 MAIN.MIX as RUSSIAN.MIX
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAU0ElEQVR42sVa
 CXBd5XU+525v1b5LliXbsupNxjsEAhhoWUqggFM60zTtlMBMxoS2dIEkTNLQ
 hQkkBZKWTpIJndI2QwvBhaRDhyEEY2wwNrbxio2NJUuWrMV670nvSW+5y+l3
 rp6ocGJCEtI++Ll6993lfGf5znfuhekj/MTjccaG8bFd142KiKlfTNP0EolE
 wbIsF3/L4OCgfFT35F/2Ao7j2LCxDoathcGX2ra9JBKJtCWTyTr8HcUiGF7w
 PG+8VCoNFgqFo77vb8P3vfhtHGDc/xcAuHkSRl8Foz8Vi8WubG1tra2urlb3
 EwzlYrEoiAIFQaAREIAiHMeIkmBL+D01PDz849HR0e/hmB9hO/V/AkANh5Gb
 DMP406amppUtLS0Er1J/fz9NTEwQ9quhpAbD8yEggCQFo8fBcAIgqq+vJz23
 traWJicnD/T19T2MY545e/Zs7lcCAIab2KyDgQ/B8EvhcTp9+jSfOXNGkN+E
 lGGDSGKeR5FiXotALBiuNeAbhuTxayESYTcSFQPAkEacSqW0FritrU1wTcpk
 Mq8ODAzci3vtBhD/IwOAPI9isxkX/sqKFSuSCD3hRlRXV8cR25aaXJa6i9O8
 1GKpgeer4kiVWFwS0SgloxFO4JgCAKQ9j0empmV3aoJ2ZnOcSVRIBIWvQDQy
 8+fP52g0mkVd/CWi8S1ENP9LA4DRVfD6owj1H7S3t/O+ffuUbag2maSV42P0
 G6bQPAooZhoUtWyKRCPk2A7ZSCMH6VQZcSgOIAa+2zjPcBxyEYFsPk/7Tw/R
 P/cP0XYTx+N6iKZGUtNLxsfHn5iamvoTrIlfGACMr4bx30WINyGn5dixY9zc
 1CRLp3J0VyFHqxzwpcEzlBggW/C3YVpkGQbbKFzbtsh2Imw6tlAsShyLs8Rj
 gp0zfzuOuMUCv3lqQL7ce5pOVNVyPp8XGE1IUQaILfh+O1b65wYA4xMotsfn
 zZt3K4qQT506JW3NzXzL8LB8Tjyqt3ByDBUaJzEAwSiYbIgpWrQoWyDRvUym
 bTHrBRAF0BFLNCqocGLUDKhJOJ5gsS2ZHE/Ro++c5O/4LKYTIbASI+KC7VNg
 tdtBALkPDQDsYcPzf9Pc3PwX8DyDIaijoYE+MzREn9SaMGbOtBuIkh9bQ3zq
 BLljU8QTMF4MQiSwDDK0rPEvBwH5Cgf7TaSQBTCIEkAkSMFQPEEAEzLVM30D
 9MVcMdynKaUFPjQ09HXc8YsA4f1MADAe9zZuArP8R0dHh3Xw4EHqgOc/g+55
 HY6H4+FOIhNlHVvqcO2nL5R9/7qDFkvAQa9GA0YGyCYyxUA0DPQ5+F0Mx6QA
 pCSuSOD5ZJgGO5YtDgreTCaFAYwjDnuI1g+Gx+ieInEJUUQaKVl4II5bkRHP
 AYT8LAAtALBj7dq1C3bt2iXIeULa8C1BIDYca1aQWLUGOXUGJZcs5MiVKTm4
 M00dJw2OeaaYWbDfuMd+FiRaDMIUsquQ+h2NOLHI7tm8SIopyPvsB8qzyC7U
 QlSLHgBMNDpQLH03k+NHnYSk0umQitG5e1EblyCdzpwXgHI9jP9aV1fX3Qhb
 2JTWoqA2owFF9He4f968WqrcvJr8yDRxPCCjdRcZ6KH2kU6KtLXR2Mv9NP3j
 0/C/kJ/TGjApUk9U1zCPnAtqyXtnkCans1QaNklwXuD6iEwYEYoqgyESDuTH
 FKL0V1aMtkfidPz4cUI6E2x6BDbdA8r1zgegGzm/q7u7u/LAgQO8oLZWPjs6
 Sh2avkidCCJQ1USyo4ro4juZFnQJgxHBNkgp1OqeXY688LhPv8MB22OmBHnR
 WgijZjYTHSeLL7+pSqwXipSmEmdP+TgGJ7oaCgUibFpgLzAZaoXfdn15uG0B
 9WezjL4jkCqTaHAXIhrHfgIAjAc448GlS5f+mSKuAEusHRuT61GAlWUAUa0B
 BwZ3E43kDbrmS0jdDrCGJfTOXpOfe5xlUwIF22twkCdYDy8rBg7EqjHIbzO4
 FwVx/Z0GyT+gE/skZwd99nIW+Cu0hgPNKxQLFk9alvwwXkl7Fyzit956SwFo
 YT+CNP9z1VrvA4CdNeiCh5csWdKCg6mzpoZuGBtT7xO4grQVm+UTqrFz6YbF
 VHFHL2VBbgmo6MKUSVsfEOrOB1QaM8A0JrEDi3ykmQXjgcRB5ApJHNtEdMlm
 odJfBzSWExoc8sidBGuFV+fwvx5AZHDOIaTYzvUXUV8qTcqGFRUVg+l0+gIw
 1vj7AMD4W0BZz+RyuRBZ59gYX4bCRfpSEscBgJIPGhRJ/QKm1Re30Wsdw7z9
 h4bEgOzaT0f4rWdILjaQCq7FTStXiw1qNAxQEqwJBkco3TfAU1FfshDQ83+L
 ed6lgZy9z+PRYiDDAwFAICVNNL1AZZDJKc8TZBntapvH2UWLZfv27dTY2Kj6
 62YU+rPvAVCux+bbq1evvgPMQ82NjXQJ9M589TZWZdn7Sv8xFHIjUI1gzwjY
 aE3CB3vYdChnUj5v0g2XRKl1zS0UW3YCzbk/zD3TMOnNp/I09fIEMYoz2iDk
 oYDXfRW+koCO312iNDw0dsInvzjTQ3TlEIUhpPB+9JbslVfRwUOHVAQS6uCf
 QKl3II0CLud/BSTwa8j/FdA60lFRQRvHxxmGixof1ykLfwMEA6okKrCvBrxe
 ABV6EbFMprpOg1tW10rHJTdTZNE2pupBVKQ2MYNfe9GWHU+6dJHp80SfJ0Y0
 oPp5xA2dIm2fczmzh+Xw37k07gacHUQJ+OENeRr3GoOPT6EeBletEdUThw8f
 ZqTRgWw2exEA5GcjMB8C6u3Kysr4yMiIzMvlaCOGkrjKYwWI66mvLFzU1mK2
 1UOinRYhN6WiwaL5axu458abJbrsBXTYcQ55FJ7b9YLF25/1Zb0VUPodnwvT
 cKuhdeTz/JLIoq8G7FeWZPcDROlTPg+/K5KfQhYZM+R0FkiGAaAfssJavJi2
 bt3KoNSpsbGx5aiDUyEAqMsNCxcu3Imd4fceUOc6kIiqGVsBQAIo0YXfcXMn
 YsEGQZYSVTREqGtDK625+QZyljyH3pAD+Rgz4cI/+x+yqA5ldXjApVQv8hzN
 TQecSC3RrzX61L0RRX6DS9m+gJ7/gkelQkAptCo3IFKeUa+PYQ2CgZIbNiiA
 UK1CI10OOn01NBgh2bRs2bKnDx06pOGRjyH/O2lmmAKRkBPQjEJTGoXmN1XT
 aOOJR7illeUTN15BkU/sZY6WgAoI7Ri7aXTuOuSCa3Pw9UB6h13aNxrwBNzp
 lnxIEeGOLl8uSwgbny+KX/LoyS/gwlOBnD4aUN4jLlDY6xQAj8ZiEr3oItq7
 d284lgLAraiH789G4A5Ih2+/8cYbDN0fAkCdagpLEnlji4pMAwJTFbMCEbIc
 DOsmc0u7I9AetOTOGLf3eABg0u4dMf7R057cttmh5p4SY5oR/+GAjuQC3jfo
 ycRoAKIJuHGBJ9fGLU7eWxTPy9PLz1p88nVfRlDM2QJqoAwgA1vOoifYiAB6
 FJxoCVL9DzFLPxECgHDbvH79+seUphqgOjdABdaVmQfXJ20yhipMFXGWGVKX
 iRaskUhW2dTSadA0+sDVt8VoOMP00os+bVxh0egBn66606SKFo+kaJL3TZ/2
 gtf3nvZpYtSj2raAbmqspJrbxqlEHh07ILTl3z3yRoTS6C8Z3FcB6Mqqul27
 NpwE9YMI3A4Aj8+m0O0A8B0ACCOwChFoU2WMMnRg5Iw6NsSCMEPeixpPWgPW
 jNZPVBjUttDmoYwpLhrFwmrmbEqkuc3SJObrPgvpXwn5UmAuPS6y03fpzX6Q
 RC3JpvY2rrmmV0pekfoHDf7Wv/hijgc0Ogl1jpsgCoTFOR2QVq4kjJuhLQDw
 vxGAXL1p1apVW15//XWuqqqSrpFhWqRDiWglcyjpbYTNQs7oIxJjZh8EGACY
 SC1cJYbhJlmFMgczFwsW+74h8WRA8zstTkyJXP0pA3SNdJqGSP1eQNsTPo9X
 +nJ99WK2lh8Rr1igU2cM/vstnphpoRG0jMlyCmVx/ywGodply+jkyZM6NwsI
 55OogS0hgJqamjX47IaEMFQN1iACPfCkISHjqZ5RHBRRpYimFUZARQ7+UcXq
 RJBWmNKcqEW+pzrGQhNTYRBQda1QZ6tF9dh/1W+iqJXkMa/k/tOl9JVt1Aqi
 dp395CG1dp006Ok3PZoaEkphnNcRTAdi1c/T6OrLV62i/fv3EzRRgGZ2KVjo
 tRAAvN6GCLzd399fAc0tZiZNK5Ae6AHiqPU+5rzAR8MygT6iqQRvYhC3DI5A
 GtTUMtU3OjyvokV6Tw/QwChxfhqnBPpEg7m6xpeOOqhXYPr4ek9bClEe/D+9
 XoLYXvZKGSkC1xO7iU9mwULvBpRxcQ0cODIDIBw/QTSkWdLU1DSJQWcZ+sDg
 bAQSixYtegWI1mJwl2oMF51eiSvBPNrIDNeFJvNDGkWEFAjpwA4Rx0u7k7Lp
 imupugLght6W1LYT9P1Yno/2G5LDPOB7PkNuS1MLUQfG4tVxkVWLPI0EJk0R
 33MZ8l6U9+/eCs0V8eV4H/DhXgiUnCWVLUhhUOeKFStCGkUE9qATfxyduBAC
 QGdT/v8GBvi7tm3bFg4PVYjCfMysMW2c0B+YhEIdog8holEbUXOovcOkG3/9
 MlqVOgvOe5eoBJWWtyh1IqAtjaDNQaLJCahO8L4+9+3qDmiRa9CVoLVEsqAT
 AHlFva7QjrRFT551KXNGaBhJ78GyaQRKAUwgTeuhz2AjpVIpgvGPYfcfwabg
 PTWK7nbNunXr/nvnzp3hsxkXWmhVXY3EkQcGWnnJdcHVHsdihtRUuXTh2oV0
 9YVXcPuZAeG+XXRiyuD2BCINs7ho8HQuIW+0mHRkcpJzriexqEPdizt4Q/sK
 qXzpJfIm+1Doqns0EoH821EQ1hLiV/aJnEHlIkZhI9NOXLBtXtHTI0eOHNH8
 Vwq9Bue8+D45jTSq7Onp2YcfF+hzzioMNF1gmPqIo32AS5C2aJfcUOfJ711/
 BV1M2L9vKxuBJ/81YdGB1gh3jQRyc6tBkaLLoqFyasmvb2c3WQ3qRSqOnsbg
 f0j8/HSoMzwAC7yAESApoom/BOX2FIw+gc7lKvOUWQj5zysvuECQPmrnu5lM
 Zj3yP/M+AEgbAw3tSy0tLV/ZvXs36bNKcyJDq5qbwqFEQoVeoOvWNNLvV7YS
 73+dDEjj49DLj0Eu17YblCiZVNlv0G9D59RoBfszrAPFjI1a6YaDDZxBmNwJ
 dY4awXVdodNIo4dAOZiF6BToB9NoyEIeGK+zq0u9Hj4sRvHej+39PzGR6Qfh
 aV++fPmbGJ4bVNhVJBKyANqmIVnBqh8q4h7f0RKXSyczxFNFGgSrPDoRSL4V
 Nx0IUOAs3fMd4jHhjYjbpRGhGDxMmG0F9aFjouu58GpAr0KK/wDXbIak34i5
 +jGIuFKS+MQQ0iYImZZdNCwD9Ini5T179gjSfAw1sB6p3P9Th3p43UCTuA8H
 3n/06NGwK/uQ1iubGjkBFnBMly+oK0rFCIyBF485mGcrA+kHb4+Nuzq/SyIm
 1N5qck08Ij6OW+hh8oI4rSyUKAMt9W6+JMcxtU1V+RzFuTThM8pIAoybJ8+g
 +yI4+kRXR4IAzbMH3VcfaaIuBcZ/GaLsAS3e8z4XwkxQ197e/jJQ9qDrCZiJ
 rOkp7mpokGjU4UTMk7oqsBGabiqT56HhomRz8J6LXqHqQ3yyMEZWJFnqaiBT
 4uHogJ6AJq3dHSmdmijQ8KjHU+jK+tRR6TSPpM+h/kv4vTijtbiptVU0bTBC
 avc9iHF3I3I/9YEPtsqN7XLUxPPT09NxpS0VeEnkcntdHfLQVMGJnPZoMjtN
 xWL4FgYASpoi2Lqh3odPIf4k7NCQUAA809GLqNgiHIhsItf19GkdvI0RE3Wm
 k3CJQs1OsaoqgiNJnwwiM/LDw8PX4T6vnGvr+QDAAdYfg3e/hs7MQM21NaBU
 HN9cXS363kuNDtCMSqCPAnSMvrAIqRa5rp52S66g+YWvmJQmwTgwU0IpXCwU
 9VmLqnIJQqkePnEkDGgYNkyJw3gMWAzWEZCKwPh7cN4jOgN/KABliR3FqPkg
 QNyFxqFGhA3OwlY7dRT06gcz14Ox4esjPUZfVGjDQ7Gq5sfWm/leboT60eNU
 mysj6aSnV1FN5SO0NYhyW1sb6XsIeF6fjX4TEf08nFj4aXZ+4PsB5F0c3n4Q
 EblTO7FGo7OzU6IQdQa8G7EdNtArlCJ9DChKbaGxiJiHaGhaAUDI9xSKQnA+
 IoPf1HjGUs+HUdHxb1FXl9qj7yHC92egzscA9l5cc/p8Nn6YNzQx3OA+FLc+
 ancQzrCw9R1ZAONQJ1qFpEJPkx7FH76l9NH4PIDR7u152sVngLkAqT3A1dQy
 dfInhpwXOIZOnDjBk5OTgprzMHF9A4b/LUzIihZUqAB/AQDwjE4vlZgDfjcW
 i93f2NhYq01FCxV5GgIpIW0m02kq5vPhcx4tZv34fgimXKxB+Pxfi7WAfaL6
 BuSg50MaU29vbygTcJ8Mrv+POP15LIwEquveW4VynXsfBEAnSRWhIEFqwmrG
 asSqB5gu3OBq9Il2pBfrWxQtQI0I8hY6KRa+rEOr56lcDsVaUFaC5vFDRDY6
 HWpLEM3w3miY+tY+fJCgPI98H0EtbcdvfVjjc5ZKIh0NpuYsTavSXAB22eiG
 suFt5a1+ryv/pneuhNFNANIIIMARJfCzviOGbLYFWkU9GT45KL8nDgGo93Gc
 vvcSfZ+M81UWi74zxvcS6itVNjZbXmqw7lNBOkozc82ZOccoiNwsgPCZ7RyD
 dbXM+V5b/r2Cwkel+rAujBImAo7Beza8aqgx+tG00Ui45Z4QTm06zelbGA5v
 KThG0um0C3CFcmoUymlSniLD9EmXAeijoWEsCHQamBuNuREwygbWl1fdHDD1
 ZRBV5SjMgoiWlzNn2fqiBMYa2i/UYH9mnggAKiSech7PXecarwZmyt5W43Uw
 GyqDmCgfq9eR8xWxXfZwsmxw9Tmr6pxozAKxy8sqO2T2+loDyiR+uQD15sXz
 eD1TTp3Zpd9z5eM9OoeNfp7/V4LLhllzDI2c6/05AGYfaM8C8M8BMOv9YnnN
 fvfKxwUfwib6H0Q8St3dyqOWAAAAAElFTkSuQmCC
