Source: openredalert
Section: games
Priority: optional
Maintainer: Patryk Skorupa (skoruppa) <skoruppa@gmail.com>
Build-Depends: debhelper (>= 5), libsdl1.2-dev, libsdl-mixer1.2-dev
Standards-Version: 3.7.2

Package: openredalert
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openredalert-data
Description: OpenRedAlert
 This is a rebuild of the (Westwood) red alert game engine (based on FreeCNC and FreeRA). It is a real time strategy game. To play the game with this engine you need the original game (mix files). The only game supported is red alert 1 ;)
